.page-buttons {
    display: flex;
    justify-content: center;
    gap: 15px;
    flex-wrap: wrap;
    margin-top: 40px;
}

.next-button {
    display: inline-block;
    text-decoration: none;
    background: #62b5ee;
    color: white;
    padding: 15px 25px;
    border-radius: 30px;
    font-weight: bold;
}

.next-button:hover {
    background: #368fd1;
}

.back-button {
    margin-top: 0;
}
